<div class="container">
    <h1>{{title}}</h1>
    <div class="form-container">
        <form [formGroup]="registerForm" (submit)="submit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Name
                </mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="registerForm.controls.name.touched && registerForm.controls.name.invalid">
                    <span *ngIf="registerForm.controls.name.errors.required">This field is mandatory.</span>
                    <span *ngIf="registerForm.controls.name.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Surnames
                </mat-label>
                <input matInput formControlName="surnames" required>
                <mat-error *ngIf="registerForm.controls.surnames.touched && registerForm.controls.surnames.invalid">
                    <span *ngIf="registerForm.controls.surnames.errors.required">This field is mandatory.</span>
                    <span *ngIf="registerForm.controls.surnames.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Age
                </mat-label>
                <input matInput formControlName="age" required>
                <mat-error *ngIf="registerForm.controls.age.touched && registerForm.controls.age.invalid">
                    <span *ngIf="registerForm.controls.age.errors.required">This field is mandatory.</span>
                    <span *ngIf="registerForm.controls.age.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Username
                </mat-label>
                <input matInput formControlName="username" required>
                <mat-error *ngIf="registerForm.controls.username.touched && registerForm.controls.username.invalid">
                    <span *ngIf="registerForm.controls.username.errors.required">This field is mandatory.</span>
                    <span *ngIf="registerForm.controls.username.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> E-mail
                </mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
                    <span *ngIf="registerForm.controls.email.errors.required">This field is mandatory.</span>
                    <span *ngIf="registerForm.controls.email.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Password
                </mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
                    <span *ngIf="registerForm.controls.password.errors.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
            <button class="form-button" mat-raised-button color="primary" type="submit">{{title}}</button>
            <button class="form-button" mat-raised-button color="secondary" (click)="onCancel()">Cancel</button>
        </form>
    </div>
</div>