<button class="form-button" mat-raised-button color="primary" routerLink="../login">Logout</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Username Column -->
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Surnames Column -->
    <ng-container matColumnDef="surnames">
        <th mat-header-cell *matHeaderCellDef> Surnames </th>
        <td mat-cell *matCellDef="let element"> {{element.surnames}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Age Column -->
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
    <!-- Active Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
    </ng-container>
    <!-- Last logging Column -->
    <ng-container matColumnDef="lastLogging">
        <th mat-header-cell *matHeaderCellDef> Last logging </th>
        <td mat-cell *matCellDef="let element"> {{formatDate(element.lastLogging)}} </td>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <button color="primary" [routerLink]="['../register', element.email]">
                Edit
            </button>
            <button color="secondary" (click)="onDelete(element.id)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>